body {
    background: #0A192F;
    color: white;
    margin: 0px;    
  }

  h2 {
    font-family: 'Source Code Pro';
    font-size: medium; 
  }

  h1 {
      font-family: 'Quicksand';
      text-align: center;
  }

  p {
      font-family: 'Quicksand';
  }

  ul {
      font-family: 'Quicksand';
  }

  .intro {
    width:800px; 
    margin:0 auto;
    min-height: 100vh;
    padding-top: 200px;
    /* 
    padding: 200px 200px 200px 200px;
    text-align: center;
    min-height: 100vh;
    margin: auto; */
  }
  
  .intro h1 {
    font-family: 'Quicksand';
    font-size: 100px;
    text-align: left;
  }

  .intro h2 {
      padding-bottom: 20px;
  }

  .typewriter {
    font-family: 'Source Code Pro';
    font-size: large; 
  }

  .about {
    padding-top: 100px;
    min-height: 100vh;
  }

  .experience {
    padding-top: 100px;
    min-height: 100vh;
  }
  .project-container {
    padding-top: 100px;
    min-height: 100vh;
    text-align: center;
  }

  .grid-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 200px 200px;
    grid-gap: 10px;
  }

 .box1, .box2, .box3, .box4, .box5, .box6 {
    border: solid 3px #de57a5;
    padding: 10px 10px 10px 10px;
    margin: 10px 10px 10px 10px;
    font-family: 'Source Code Pro';
  } 

  /* .content {
    border: solid 3px #de57a5;
    padding: 10px 10px 10px 10px;
    margin: 10px 10px 10px 10px;
    font-family: 'Source Code Pro';
  } */

  .contact {
    padding-top: 100px;
    min-height: 100vh;
    text-align: center;
  }

  a {
      color: #818181;
      text-decoration: none;
  }

  a:hover {
    color: #f1f1f1; 
  }

/*   .sidebar {
      height: 100%;
      width: 50px;
      position: fixed;
      z-index: 1;
      top: 0;
      left: 0;
      background-color: black;
      overflow-x: hidden;
      padding-top: 20px;
  }

  .sidebar a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
  }

  .sidebar a:hover {
    color: #f1f1f1;
  } */

  .main {
    margin-left: 50px; /* Same as the width of the sidebar */
    padding: 0px 10px;
  }

  .button {
      background-color: #0A192F;
      color: #de57a5;
      border: 2px solid #de57a5;
      padding: 20px 20px 20px 20px;
      font-family: 'Quicksand';
      font-size: 20px;
  }

  .button:hover {
      background-color: #de57a5;
      color: white;
  }
  
 /*  @media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
  } */