.topnav {
  overflow: hidden;
  background-color: #0A192F;
  font-family: 'Quicksand';
}

.topnav a {
  float: right;
  display: block;
  color: #f1f1f1af;
  text-align: center;
  padding: 20px 20px 20px 20px;
  text-decoration: none;
  font-size: 20px;
}

.topnav a:hover {
  color: #de57a5;
}

.topnav a.active {
  background-color: #04AA6D;
  color: white;
}

.topnav .icon {
  display: none;
}

@media screen and (max-width: 1125px) {
  .topnav a:not(:last-child) {
    display: none;
  }

  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 1125px) {
  .topnav.responsive {
    position: relative;
  }

  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }

  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}