.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #0A192F;
  /* position: fixed; */
  top: 0;
  width: 95%;
}

.navbar li {
  float: right;
  font-size: 20px;
}

.navbar li a {
  display: block;
  color: #f1f1f1af;
  text-align: center;
  padding: 20px 20px 20px 20px;
  text-decoration: none;
}

.navbar a:hover {
  color: #de57a5;
}

.navbar img {
  margin-top: 20px;
}


/* .navbar {
  z-index: 3;
  top: 0;
  left: 0;
  width: 100vw;
  height: 75px;
  border: 1px solid #222;
  margin-left: auto !important;
  margin-right: auto !important;
  display: flex;
  flex-direction: row;
  background-color: #0A192F;
  justify-content: center;
  position: fixed;
  }

.navbar a {
    float: right;
    color: #f2f2f2;
    text-align: center;
    padding: 20px 20px;
    text-decoration: none;
    font-size: 20px;
    font-family: 'Quicksand';
  }
  
  .navbar a:hover {
    background-color: #0A192F;
    color: de57a5;
  } */