html {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  scroll-behavior: smooth;
}

body {
  background: #0A192F;
  color: #f1f1f1af;
}

h2 {
  font-family: 'Source Code Pro';
  font-size: xx-large;
  text-align: center;
  color: #f1f1f1af;
}

h3 {
  font-family: 'Quicksand';
  color: #f1f1f1af;
}

h4 {
  font-family: 'Source Code Pro';
  font-weight: lighter;
  font-size: small;
  color: #f1f1f1af;
}

strong {
  color: #de57a5;
}

h2:hover {
  color: #de57a5;
}

h1 {
  font-family: 'Quicksand';
  text-align: center;
}

p {
  font-family: 'Quicksand';
}

ul {
  font-family: 'Quicksand';
  list-style: none;
  color: #f1f1f1af;
}

#border {
  border: 10px solid #de57a5;
}

#home {
  padding-top: 100px;
  min-height: 100vh;
}

.container ul li::before {
  content: "\2022";
  color: #de57a5;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

.list h2 {
  font-size: 20px;
}

.container {
  display: flex;
  flex-wrap: wrap;
}

.item {
  flex: 400px;
  padding: 50px;
}

.item:first-child {
  flex: 200px;
}

#courses {
  padding-top: 100px;
  min-height: 100vh;
}

#courses .container {
  display: flex;
  flex-wrap: wrap;
}

#courses .item {
  flex: 300px;
  padding: 20px;
  margin: 10px;
  text-align: center;
  position: relative;
  top: 0;
  transition: top ease 0.5s;
  background-color: rgba(222, 87, 165, 0.2);
}

#courses .item:hover {
  top: -10px;
}


#portfolio {
  padding-top: 100px;
  min-height: 100vh;
}


#return {
  padding-top: 100px;
  min-height: 100vh;
  text-align: center;
}



.contact {
  padding-top: 100px;
  min-height: 100vh;
  text-align: center;
}

a {
  color: #818181;
  text-decoration: none;
}

a:hover {
  color: #f1f1f1;
}

.button {
  background-color: #0A192F;
  color: #de57a5;
  border: 2px solid #de57a5;
  padding: 10px 10px 10px 10px;
  margin: 10px 10px 10px 10px;
  font-family: 'Quicksand';
  font-size: 20px;
}

.button:hover {
  background-color: rgba(222, 87, 165, 0.2);
  color: #de57a5;
}