body {
    background: #0A192F;
    color: #f1f1f1af;
    margin: 0px;   
    margin-left: 50px; /* Same as the width of the sidebar */
    padding: 0px 10px; 
  }
  
  h2 {
    font-family: 'Source Code Pro';
    font-size: xx-large; 
    text-align: center;
    color: #f1f1f1af;
  }
  
  h3 {
    font-family: 'Quicksand';
    color: #f1f1f1af;
  }
  
  h4 {
    font-family: 'Source Code Pro';
    font-weight: lighter;
    font-size: small;
    color: #f1f1f1af;
  }
  
  strong {
    color: #de57a5;
  }
  
  h2:hover {
    color: #de57a5;
  }
  
  h1 {
    font-family: 'Quicksand';
    text-align: center;
  }
  
  p {
    font-family: 'Quicksand';
  }
  
  ul {
    font-family: 'Quicksand';
    list-style: none;
    color: #f1f1f1af;
  }
  
  .text-slider-items { 
    display: none; 
  } 
  
  .heading { 
    margin-top: 200px; 
    text-align: center;
    width:800px; 
    margin:0 auto;
    min-height: 100vh;
    padding-top: 200px;
  } 
  
  .heading h1 { 
    color: #de57a5; 
    font-size: 70px; 
  } 
  
  .heading h3 { 
    color: black; 
    font-size: 20px; 
  } 
  
  .navbar img {
    margin-top: 10px;
  }
  #about {
    padding-top: 100px;
    min-height: 100vh;
  }
  
  #about img {
    border: 5px solid #de57a5;
  }
  
  img:hover {
    opacity: 1.0;
  }
  
  .flex {
    display: flex;
  }
  
  .flex div:first-child {
    flex: 1;
  }
  
  .flex div:last-child {
    margin: 2rem;
    flex: 2;
    font-size: 18px;
  }
  
  .list {
      display: inline-block;
      width: 320px;
      vertical-align: top;
  }
  
  .list ul li::before {
    content: "\2022";
    color: #de57a5;
    font-weight: bold;
    display: inline-block; 
    width: 1em;
    margin-left: -1em;
  }
  
  .list h2 {
    font-size: 20px;
  }
  
  #experience {
    padding-top: 100px;
    min-height: 100vh;
  }
  
  .tablinks {
    background-color: #0A192F;
    color: #f1f1f1af;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 17px;
    font-family: 'Source Code Pro';
    font-weight: bold;
    width: 16%;
    border-color: #f1f1f17a;
    border-style: none none solid none;
  }
  
  .tablinks:hover {
    color: #de57a5;
    background-color: rgba(222, 87, 165, 0.2);
  }
  
  .tabcontent {
    color: white;
    display: none;
    padding: 50px 100px 50px 100px;
  }
  
  .tabcontent ul li::before {
    content: "\2022";
    color: #de57a5;
    font-weight: bold;
    display: inline-block; 
    width: 1em;
    margin-left: -1em;
  }
  
  #portfolio {
    padding-top: 100px;
    min-height: 100vh;
  }
  .container {
    display: flex;
    flex-wrap: wrap;
  }
  
  .item {
    flex: 400px;
    padding: 20px;
    margin: 10px;
    position: relative;
    top: 0;
    transition: top ease 0.5s;
    background-color: rgba(222, 87, 165, 0.2);
  }
  
  .item:hover {
    top: -10px;
  }
  
  #contact {
    padding-top: 80px;
    min-height: 80vh;
    text-align: center;
  }
  
  
    /* .project-container {
      padding-top: 100px;
      min-height: 100vh;
      text-align: center;
    }
  
    .grid-wrapper {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 200px 200px;
      grid-gap: 10px;
    }
  
   .box1, .box2, .box3, .box4, .box5, .box6 {
      border: solid 3px #de57a5;
      padding: 10px 10px 10px 10px;
      margin: 10px 10px 10px 10px;
      font-family: 'Source Code Pro';
    }  */
  
    /* .content {
      border: solid 3px #de57a5;
      padding: 10px 10px 10px 10px;
      margin: 10px 10px 10px 10px;
      font-family: 'Source Code Pro';
    } */
  
    .contact {
      padding-top: 100px;
      min-height: 100vh;
      text-align: center;
    }
  
    a {
        color: #818181;
        text-decoration: none;
    }
  
    a:hover {
      color: #f1f1f1; 
    }
  
  /*   .sidebar {
        height: 100%;
        width: 50px;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: black;
        overflow-x: hidden;
        padding-top: 20px;
    }
  
    .sidebar a {
      padding: 6px 8px 6px 16px;
      text-decoration: none;
      font-size: 20px;
      color: #818181;
      display: block;
    }
  
    .sidebar a:hover {
      color: #f1f1f1;
    } */
  
    .button {
        background-color: #0A192F;
        color: #de57a5;
        border: 2px solid #de57a5;
        padding: 10px 10px 10px 10px;
        margin: 10px 10px 10px 10px;
        font-family: 'Quicksand';
        font-size: 20px;
    }
  
    .button:hover {
        background-color: rgba(222, 87, 165, 0.2);
        color: #de57a5;
    }
    
   /*  @media screen and (max-height: 450px) {
      .sidebar {padding-top: 15px;}
      .sidebar a {font-size: 18px;}
    } */