html {
    width: 300px;
    height: 300px;
}

#central {
    width: 30rem;
    height: 30rem;
    background: radial-gradient(circle, #a2c8ec,#ceb6d9, #e3abce, #f9b0c3, #fbcabb);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    position: absolute;
    transition: .5s ease;
    top: 20rem;
    left: 11rem;
}

a:hover {
    border: 15px solid black;
}